<form [formGroup]="loginForm" class="account-form" (click)="onSubmitLogin()">
    <mat-form-field appearance="outline" class="account-form__group">
        <mat-label>Email address</mat-label>
        <input type="text"
               matInput
               formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline" class="account-form__group">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'"
               matInput
               formControlName="password"
               placeholder="Password"
        >
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <div class="flex">
        <button mat-flat-button color="primary" type="submit">Log in</button>
        <p class="account-form__group--hint-right flex-grow">Forgot Password?</p>
    </div>
</form>
