// Height

$height-s: 25vh;
$height-m: 50vh;
$height-l: 75vh;

// Padding

$padding-s: 1rem;
$padding-m: 1.5rem;
$padding-l: 2rem;

// Size

$size-m: 1.6rem;
$size-l: 2.6rem;

// Margin

$margin-s: 1rem;
$margin-m: 1.5rem;
$margin-l: 2rem;

// Colors

$color-white: #FEFEFA;
$color-green: #69F0AE;
