<div class="current-mask">
    <img class="mx-auto mb-10" src="https://source.unsplash.com/random/500x300" alt="Picture of the current mask">
    <div class="current-mask__controls">
        <current-mask-timer></current-mask-timer>
        <div class="controls pt-10">
            <button class="controls__control">
                <fa-icon [icon]="faPlayCircle" size="2x"></fa-icon>
            </button>
            <button class="controls__control">
                <fa-icon [icon]="faPauseCircle" size="2x"></fa-icon>
            </button>
            <button class="controls__control">
                <fa-icon [icon]="faSquare" size="2x"></fa-icon>
            </button>
        </div>
    </div>
</div>
