<article style="background-color: green!important;" class="container m-auto h-screen max-w-screen-sm flex flex-col">
    <section class="menu">
        <a href="/" class="menu__link flex-grow">
            <button class="menu__button" mat-icon-button aria-label="User panel">
                <mat-icon class="menu__button--white" aria-hidden="false" aria-label="User panel icon">
                    account_circle
                </mat-icon>
            </button>
        </a>
        <a href="" class="menu__link">
            <button class="menu__button" mat-icon-button aria-label="Add mask">
                <mat-icon class="menu__button--white" aria-hidden="false" aria-label="Add mask icon">
                    add
                </mat-icon>
            </button>
        </a>
        <a href="" class="menu__link">
            <button class="menu__button" mat-icon-button aria-label="More options">
                <mat-icon class="menu__button--white" aria-hidden="false" aria-label="More options icon">
                    more_vert
                </mat-icon>
            </button>
        </a>
    </section>
    <section class="current-mask flex-grow">
        <current-mask></current-mask>
        <div class="current-mask__controls">
            <div class="controls m-auto w-2/3">
                <button mat-fab aria-label="Previous mask" color="primary">
                    <mat-icon class="controls__control--white" aria-hidden="false" aria-label="Previous mask icon">
                        fast_rewind
                    </mat-icon>
                </button>
                <button mat-fab aria-label="Start and stop" color="primary">
                    <mat-icon class="controls__control--white" aria-hidden="false" aria-label="Start and stop icon">play_arrow
                    </mat-icon>
                </button>
                <button mat-fab aria-label="Next mask" color="primary">
                    <mat-icon class="controls__control--white" aria-hidden="false" aria-label="Next mask icon">
                        fast_forward
                    </mat-icon>
                </button>
            </div>
        </div>
    </section>
</article>
