<article class="container max-w-screen-sm">
    <section class="menu">
        <a href="/" class="menu__link flex-grow">
            <fa-icon [icon]="faUser" size="2x"></fa-icon>
        </a>
        <a href="/" class="menu__link px-5">
            <fa-icon [icon]="faPlusSquare" size="2x"></fa-icon>
        </a>
        <a href="/" class="menu__link">
            <fa-icon [icon]="faDotCircle" size="2x"></fa-icon>
        </a>
    </section>
    <section>
        <current-mask></current-mask>
    </section>
</article>
