@import '../../styles/abstract/_variables.scss';

.menu {
  display: flex;
  align-items: center;
  height: $height-s;
  padding: $padding-m $padding-s;
  background-color: palevioletred;

  &__link {
    padding: $padding-s;
  }

  &__button {
    & mat-icon {
      transform: scale(1.5);
    }

    &--white {
      color: $color-white;
    }
  }
}

.pruebas {
  background-color: green;
  display: flex;
  justify-content: space-around;
}

.pruebas button {
  margin: 0 8rem;
}

