<article class="container max-w-screen-sm">
    <section class="menu">
        <a href="/" class="menu__link flex-grow">
            <button class="menu__button" mat-icon-button aria-label="User panel">
                <mat-icon class="menu__button--white" aria-hidden="false" aria-label="User panel icon">
                    account_circle
                </mat-icon>
            </button>
        </a>
        <a href="" class="menu__link">
            <button class="menu__button" mat-icon-button aria-label="Add mask">
                <mat-icon class="menu__button--white" aria-hidden="false" aria-label="Add mask icon">
                    add
                </mat-icon>
            </button>
        </a>
        <a href="" class="menu__link">
            <button class="menu__button" mat-icon-button aria-label="More options">
                <mat-icon class="menu__button--white" aria-hidden="false" aria-label="More options icon">
                    more_vert
                </mat-icon>
            </button>
        </a>
    </section>
    <section>
        <current-mask></current-mask>
    </section>
</article>
