<div class="current-mask">
    <img class="mx-auto mb-10" src="https://source.unsplash.com/random/500x300" alt="Picture of the current mask">
    <div class="current-mask__controls">
        <current-mask-timer></current-mask-timer>
        <div class="controls pt-10 w-2/3 m-auto">
            <button mat-fab aria-label="Start">
                <mat-icon class="controls__control--white" aria-hidden="false" aria-label="Start icon">
                    play_arrow
                </mat-icon>
            </button>
            <button mat-fab aria-label="Stop">
                <mat-icon class="controls__control--white" aria-hidden="false" aria-label="Pause icon">pause
                </mat-icon>
            </button>
            <button mat-fab aria-label="Archive">
                <mat-icon class="controls__control--white" aria-hidden="false" aria-label="Archive icon">stop
                </mat-icon>
            </button>
        </div>
    </div>
</div>
